// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Showページ
.post {
  position: relative;
}

.show-icon {
  position: absolute;
  top: 20px;
  right: 170px;
}

.more {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 150px;
}




// ランキングページ
.ranking-img {
  position: absolute;
  top: -8px;
  left: 10px;
  background-image: image-url("ranking4.png");
  background-size: contain;  width: 50px;
  height: 50px;
  display: inline-block;
}


// .ranking2 div div div:nth-child(1) {
//   background-image: image-url("ranking1.png");
// }

// .ranking2 div div div:nth-child(2) {
//   background-image: image-url("ranking2.png");
// }

// .ranking2 div div div:nth-child(3) {
//   background-image: image-url("ranking3.png");
// }


.ranking-img span {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 24px;
  color: #583822;
  font-family: 'Comic Sans MS', 'Hiragino Maru Gothic Pro', 'Yu Mincho', sans-serif;
}

.rank-user {
  width: 75%;
  text-align: center;
}

.ranking-posts {
  position: relative;
  margin-bottom: 40px;
}

.rank-fav-icon {
  position: absolute;
  bottom: 70px;
  left: 50px;
}

#rank-comment-btn {
  position: relative;
  text-decoration: none;
  margin-right: 15px;
}

.rank-comment-icon {
  position: absolute;
  bottom: 70px;
  left: 125px;
}

#favorite-btn span, #rank-comment-btn span {
  position: absolute;
  top: -7px;
  right: -25px;
  font-size: 20px;
  color: #2a4073;
}

.ranking-more {
  margin-right: 50px;
}



// 部分テンプレートのFavoriteボタン
#favorite-btn {
  position: relative;
  text-decoration: none;
  margin-right: 0px;
}

