// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Showページ
.post {
  position: relative;
}

.show-user-image {
  display: inline-block;
  margin-bottom: 0px;
}

.show-icon {
  position: absolute;
  top: 15px;
  right: 170px;
}

.more {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 150px;
}

.show-caption, .ranking-caption {
  width: 475px;
  line-height: 1.5;
  margin-left: 20px;
}

.show-caption>a, .ranking-caption>a {
  color: #007bff !important;
}

.comments, #new-comment {
  width: 80%;
}


// New postページ
.new-post-container {
  margin-bottom: 110px;
}



// ランキングページ
.ranking-img {
  position: relative;
  background-image: image-url("ranking4.png");
  background-size: contain;  width: 50px;
  height: 50px;
  display: inline-block;
}

.ranking-img span {
  position: absolute;
  top: 12px;
  left: 18px;
  font-size: 24px;
  color: #583822;
  font-family: 'Comic Sans MS', 'Hiragino Maru Gothic Pro', 'Yu Mincho', sans-serif;
}

#favorite-btn span, #rank-comment-btn span {
  font-size: 20px;
  color: #2a4073;
}

.ranking-more {
  margin-right: 50px;
}



.post-heading, .rank-post-heading, .rank-icons {
  width: 200px;
  margin: 0 auto;
}


// 部分テンプレートのFavoriteボタン
#favorite-btn {
  text-decoration: none;
}

.post-caption {
  width: 180px;
  margin: 0 auto;
  text-align: left;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: 'Hiragino Maru Gothic Pro', 'Yu Mincho', sans-serif;
}




// タブレット縦置きサイズ（768px）以下の際に適用される設定
@media screen and (max-width:768px) {

  .comments,  {
    width: 80%;
  }

  .show-slider {
    width: 360px !important;
    height: 360px;
  }

  .user-post {
    width: 50%;
    margin-left: 50px;
    text-align: center;
  }

  .show-user-image {
    margin-left: 50px;
  }

  .show-icon {
    position: absolute;
    right: 190px;
  }

  .show-captions {
    width: 80%;
    margin: 0 auto;
  }

  .show-caption {
    width: 300px;
  }

}


// スマートフォンサイズ（425px）以下の際に適用される設定
@media screen and (max-width:425px) {
  .show-slider {
    width: 250px !important;
    height: 250px;
  }

  .comments, #new-comment  {
    width: 90%;
    margin: 0 auto;
  }
}
