// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// マイページ
.user-show-title-box {
  margin-bottom: 48px;
}

.user-image {
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-name {
  font-size: 15px;
  line-height: 3;
}

.introduction-caption {
  display: flex;
  margin-top: 24px;
  margin-bottom: 48px;
}

.self-introduction {
  line-height: 1.9;
  font-size: 15px;
}

.search-box {
  margin-bottom: 16px;
}

.show-post-caption {
  margin: 0 auto;
}


// 退会ページ
.unsubscribe-text {
  margin-top: 50px;
  font-size: 32px;
  text-align: center;
  color: #2a4073;
}

.unsubscribe-caption {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 12px;
  text-align: center;
  color: #2a4073;
}


// タブレット縦置きサイズ（768px）以下の際に適用される設定
@media screen and (max-width:768px) {
  .user-show-title {
    text-align: center;
  }

  .show-post-caption {
    margin-left: 80px;
  }



}

// スマートフォンサイズ（425px）以下の際に適用される設定
@media screen and (max-width:425px) {
  .user-show-title-box {
    margin-bottom: 20px;
  }

  .introduction-caption {
    display: block;
    margin: 30px auto;
    text-align: center;
  }

  .search-box {
    margin-top: 25px;
    margin-bottom: 45px;
  }

  .show-post-caption {
    margin-left: 73px;
  }

}