

<div class="about-visual">
  <div class="about-visual-content">
  </div>
    <!--<h1 class="about-visual-heading">DOG'S</h1>-->
    <!--<p class="about-visual-text">-->
    <!--  みんなの投稿です<br>-->
    <!--  お気に入りのわんちゃんたちを見つけてね！-->
      <!--This is your's post<br>-->
      <!--You find your favorite dogs!-->
    <!--</p>-->
</div>
<div>
    <p class="about-text">
      みんなの投稿です<br>
      お気に入りのわんちゃんたちを見つけてね！
    </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div id="title" class="mb-2">Posts</div>
    </div>
    <div class="col-lg-6"></div>
  </div>
  <%= render 'public/posts/post', posts: @posts %>
</div>








<!--<h1>みんなの投稿</h1>-->

<%#= render 'public/posts/posts', posts: @posts %>

<!--</div>-->