<div class="container min-vh-100" id="about-container">

  <div class="about-visual">
    <div class="about-visual-content"></div>
  </div>



  <div class="about-text">
    <p>みんなの投稿です<br>
       お気に入りのわんちゃんたちを見つけてね！
    </p>
  </div>


  <div class="mt-4 mb-4 text-center">
    <%= render 'public/searches/search' %>
  </div>

  <div id="title" class="text-center mb-5"> New Posts</div>

  <%= render 'public/posts/post', posts: @posts %>


</div>

