/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";


a {
  color: #0f2350;

}

a:link, a:visited, a:hover, a:active {
  color: #0f2350;
}


// ヘッダー
// header {
// 	position: fixed;
// 	top: 0px;
// 	left: 0;
// 	padding: 100px 0 50px 0;
// 	width: 100%;
//   background-color: #ede4cd;
// 	font-size: 24px;
// 	text-align: center;
// 	color: #fff;
// 	z-index: 30;
// }

// スクロールしたときのヘッダーのアニメーション
header {
  width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
  padding: 25px 0;
	font-size: 12px;
  background-color: #bed2c3;
	z-index: 10;
}

// スクロールでremove
// .center-nav-title {
//   color: #fff;
//   position: absolute;
//   width: 100%;
//   left: 0;
//   top: 0;
//   text-align:center;
//   margin: auto;
// 	font-size: 36px;
// 	z-index: 10;
// }



.nav-link {
	font-size: 15px;
  color: #fff;
	z-index: 10;
}

// // スクロールでremove
// .nav-list {
//   margin: 0 auto;
//   padding-top: 80px;
//   text-align: center;
//   font-size: 15px;
// 	z-index: 10;
// }


main {
  margin:0 auto;
  padding-top: 200px;
	height: 3000px;
// 	text-align: center;
	background-color: #fff;
	z-index: 20;
}



// ログインページ

.remember-me {
  color: #0f2350;
}




// Topページ



.about-visual {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}


.about-visual {
  position: relative;
  background-image: image-url("dogs16.jpg");
  margin-bottom: 100px;
}



.about-visual-content {
  width: 100%;
  height: 600px;
  background-color: rgba(255,255,255,0.3);
}




#web-title {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  font-size: 60px;
}






// .top-button{
//   text-align: center;
//   cursor: pointer;
//   font-size:24px;
//   margin: 0 0 0 100px;
//   border-radius: 6px;
//   background-color: #336633;
//   border: none;
//   padding: 20px;
//   width: 200px;
//   transition: all 0.5s;
// }

// .top-button span {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   transition: 0.5s;
//   color: #fff;
// }

// .top-button span:after {
//   content: '»';
//   position: absolute;
//   opacity: 0;
//   top: 0;
//   right: -20px;
//   transition: 0.5s;
// }

// .top-button:hover span {
//   padding-right: 25px;
// }

// .top-button:hover span:after {
//   opacity: 1;
//   right: 0;
// }


// topスライダー


.sliderArea {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 30px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

/*====================================================================
.full-screen-o
====================================================================*/

.full-screen-o .slick-list {
  overflow: visible;
}
.full-screen-o.slider {
  max-width: 500px;
  margin: 0 auto;
}
.full-screen-o .slick-dots {
  bottom: -33px;
}
.full-screen-o .slick-dots li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.full-screen-o .slick-dots li button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  outline: 0;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.full-screen-o .slick-dots li button:before {
  content: none;
}
.full-screen-o .slick-dots li:nth-child(1) button {
  background: #f5d1c3;
}
.full-screen-o .slick-dots li:nth-child(2) button {
  background: #a9b7ba;
}
.full-screen-o .slick-dots li:nth-child(3) button {
  background: #c4d7d1;
}
.full-screen-o .slick-dots li:nth-child(4) button {
  background: #b4b1a0;
}
.full-screen-o .slick-dots li:nth-child(5) button {
  background: #e5dfd3;
}
.full-screen-o .slick-dots li button:hover, .full-screen-o .slick-dots li.slick-active button {
  border-radius: 0px;
  width: 12px;
  height: 12px;
}









.about-text, .web-text {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0 120px 0;
  text-align: center;
  font-size: 14px;
}

.about-text {
  font-size: 16px;
}


// 投稿ページ全体

#title {
  color: #0f2350;
  font-size: 32px;
}

.user-image {
  border-radius: 50%;
}

.label {
  margin: 20px 0;
  color: #2a4073;
}



// showページ

.post {
  position: relative;
}

.show-icon {
  position: absolute;
  top: 20px;
  right: 200px;
}


.favorite-icon {
  position: absolute;
  top: 10px;
  right: 160px;
}


#favorite-btn, #rank-comment-btn {
  position: relative;
  text-decoration: none;
  margin-right: -7px;
}

#favorite-btn span, #rank-comment-btn span {
  position: absolute;
  top: -7px;
  right: -17px;
  font-size: 20px;
  color: #2a4073;
}





.table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}


.table tr:hover{
  background-color: #f8fbf8;
  transition: 2s;
}

.users-table td, .user-table td {
  padding: 20px 0 5px 10px;
}

.users-table td:nth-child(1) {
  width: 10%;
}

.users-table td:nth-child(2) {
  width: 20%;
}

.users-table td:nth-child(3) {
  width: 32%;
}

.users-table td:nth-child(4) {
  width: 20%;
}

.users-table td:nth-child(5) {
  width: 20%;
}

.user-table td:nth-child(2) {
  padding-top: 6px;
}



.comment-table td:nth-child(1) {
  text-align: center;
  width: 15%;
  padding: 10px 0 15px 10px;

}

.comment-table td:nth-child(2) {
  width: 15%;
  padding: 22px 0;

}
.comment-table td:nth-child(3) {
  width: 40%;
  padding: 22px 0;

}

.comment-table td:nth-child(4) {
  width: 40%;
  padding: 20px 0 20px 5px;

}


.follow-table {
  width: 70%;
  margin: 0 auto;
}

.follow-table td:nth-child(1) {
  width: 15%;
  padding: 15px 0 15px 10px;

}


.follow-table td:nth-child(2) {
  width: 15%;
  padding: 15px 0 15px 10px;

}

.follow-table td:nth-child(3) {
  width: 15%;
  padding: 30px 0 10px 0;

}
.follow-table td:nth-child(4) {
  width: 30%;
  padding: 30px 0 10px 0;

}


.info-edit-table th, .user-edit-table th {
  text-align: center;
  width: 30%;
  height: 70px;
}

.info-edit-table td, .user-edit-table td {
  width: 40%;
  height: 70px;
}

.search {
  margin-right: 120px;
  padding-bottom: 20px;
}



.admin-search {
  width: 300px;
  margin: 0 auto;
}



// ボタン関連
.button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
	background-color: #fff;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
  }
  &:active {
    letter-spacing: 2px ;
  }
}


#top-signup-btn {
  text-decoration: none;
  border: 1px solid #e7609e;
  color: #e7609e;
  &:hover {
    color: #fff;
    background: #e7609e;
  }
}


#signup-btn, #log-in-btn, #user-edit-btn {
  padding: 12px 20px 11px 20px;
  text-decoration: none;
  border: 1px solid #c1d8ac;
  color: #c1d8ac;
  &:hover {
    color: #fff;
    background: #c1d8ac;
  }
}

#login-btn, #top-login-btn, .login-btn, .sign-up-btn, .create-btn {
  width: 200px;
  padding: 11px 40px 12px 40px;
  text-decoration: none;
  border: 1px solid #e9546b;
  color: #e9546b;
  &:hover {
    color: #fff;
    background: #e9546b;
  }
}

#top-about-btn {
  text-align: center;
  padding: 20px 45px 20px 45px;
  text-decoration: none;
  border: 1px solid  #e9546b;
  font-size: 20px;
  color:  #e9546b;
  &:hover {
    color: #fff;
    background:  #e9546b;
  }
}



#top-login-btn {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 25px 70px 25px 70px;
  border: 1px solid #e9546b;
  color: #e9546b;
  &:hover {
    color: #fff;
    background: #e9546b;
  }
}



#top-signup-btn {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 25px 60px 25px 60px;
  border: 1px solid #e9546b;
  color: #e9546b;
  &:hover {
    color: #fff;
    background: #e9546b;
  }
}


.action-signup, .action-log-in, .action-unsubscribe, .action-edit {
  text-align: right;
  margin-right: 50px;
}



#user-btn, #chat-btn {
  padding: 15px;
  text-decoration: none;
  border: 1px solid #c1d8ac;
  color: #c1d8ac;
  &:hover {
    color: #fff;
    background: #c1d8ac;
  }
}

#chat-btn {
  padding: 15px 33px;
}




.edit-btn, .update-btn {
  width: 200px;
  border: 1px solid #f9c89b;
  color: #f9c89b;
  &:hover {
    background: #f9c89b;
  }
}

#user-edit-btn {
  text-decoration: none;
  padding: 15px 30px;
  &:hover {
    color: white;
  }
}


.prf-edit-btn {
  width: 120px;
  margin: 0 auto;
  border: 1px solid #dddcd6;
  color: #dddcd6;
  &:hover {
    background: #dddcd6;
  }

}

#unfollow-btn, #follow-btn, #detail-btn, #user-detail-btn, {
  text-decoration: none;
  padding: 8px 20px;
  color: #e9546b;
  &:hover {
    color: white;
    background: #e9546b;
  }
}

#unfollow-btn {
  border: 1px solid #83ccd2;
  color: #83ccd2;
  &:hover {
    background: #83ccd2;
  }
}

#follow-btn {
  border: 1px solid #e9546b;
  color: #e9546b;
  &:hover {
    background: #e9546b;
  }
}


#detail-btn, #user-detail-btn {
  border: 1px solid #c1d8ac;
  color: #c1d8ac;
  &:hover {
    background: #c1d8ac;
  }
}

#user-detail-btn {
  font-size: 12px;
}



#destroy-btn, #withdraw-btn, #post-destroy-btn, #unsubscribe-btn {
  text-decoration: none;
  border: 1px solid #83ccd2;
  color: #83ccd2;
  &:hover {
    color: white;
    background: #83ccd2;
  }
}

#destroy-btn {
  padding: 7px 20px 8px 20px;
}


#withdraw-btn, #post-destroy-btn {
  padding: 12px 22px 10px 22px;
}

#withdraw-btn {
  border: 1px solid #dddcd6;
  color: #dddcd6;
  &:hover {
    background: #dddcd6;
  }
}



#unsubscribe-btn {
  font-size: 20px;
  padding: 20px 60px;
  border: 1px solid #e9546b;
  color: #e9546b;
  &:hover {
    background: #e9546b;
  }
}


#no-btn {
  font-size: 20px;
  padding: 20px 60px;
  text-decoration: none;
  border: 1px solid #83ccd2;
  color: #83ccd2;
  &:hover {
    color: white;
    background: #83ccd2;
  }
}



// ランキングページ

// rankingページ

.user_name {
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}





#ranking {
  position: relative;
  background-image: image-url("ranking.jpg");
  background-size: contain;  width: 70px;
  height: 70px;
}

#ranking span {
  position: absolute;
  top: 12px;
  left: 26px;
  font-size: 32px;
  color: #583822;
}

.ranking {
  position: relative;
}

.rank-fav-icon {
  position: absolute;
  top: 5px;
  right: 70px;
}

.rank-comment-icon {
  position: absolute;
  top: 5px;
  right: -40px;
}


.unsubscribe-text {
  margin-top: 50px;
  font-size: 32px;
  text-align: center;
  color: #2a4073;
}

.unsubscribe-caption {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  color: #2a4073;
}





// チャットページ


// 自分のメッセージの吹き出し
.says {
  float: right;
  position: relative;
  right: 5px;
  padding: 10px 30px;
  margin: 5px 0 5px 0;
  background: #fdeff2;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
  text-align: right;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #fdeff2;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}




// 相手のメッセージの吹き出し
.other-user-says {
  float: left;
  position: relative;
  padding: 10px 30px;
  margin: 5px 0 5px 0;
  background: #ebf6f7;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ebf6f7;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.other-user-says p, .says p {
  margin-bottom: 3px;
}
.other-user-says span, .says span {
  font-size: 10px;
}



.my-chat {
  width: 800px;
}

.chat_box{
  width: 100%;
  height: 460px;
  padding: 0 40px 10px 240px;
  overflow: scroll;
  border: 1px solid #fff;
  font-size: 14px;
  background: #fff;
}

.form-inline {
  width: 50%;
  margin-left: 300px;
}

#chat-text {
  width: 350px;
  margin-bottom: 10px;
}

.chat-btn {
  width: 50px;
  height: 38px;
  border: 1px solid #fff;
  background-color: #fff;
}

footer {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	background-color: #bed2c3;
}


