<div class="container">
  <div id="title" class="text-center"><%= current_user.user_name %><span>'s notification</span></div>

  <div class="row mt-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <!--自分の投稿に対するいいね、コメントは通知に表示しない-->
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if notifications.exists? %>
        <%= render notifications %>
        <div class="mt-4"><%= paginate notifications %></div>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>




