<div class="container min-vh-100">

  <div class="mt-3 mb-3 text-center">
    <%= render 'public/searches/search' %>
  </div>

  <div id="title" class="text-center mb-5"><%= @user.user_name %><span>'s favorites</span></div>



  <%= render 'public/posts/post', posts: @favorites_list %>


</div>


